# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Docker
*.log
*.pid
*.seed
*.pid.lock
*.whl
docker-compose.override.yml

# Rasa
*.db
*.lock
*.sqlite
*.pyc
*.pyo
*.DS_Store